body {
	background: #8080ff;
	color: #000040;
}

#kontener {
	background: #ffffff;
}

#baner {
	background: blue;
	text-align: center;
	padding: 1pt 0;
}

#menu {
	float: left;
	width: 16%;
	padding: 1%;
}

#tresc {
	background: #00ffff;
	float: left;
	width: 60%;
	padding: 1%;
}

#pasek {
	float: right;
	width: 16%;
	padding: 1%;
}

#stopka {
	background: blue;
	clear: both;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
}
